<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

	<title>{ifset #title}{include #title|striptags} | {else}Addons, plugins and components | {/ifset}Nette Framework</title>

    <!-- SEO -->
    <meta name="description" n:ifset="#description" content="{include #description}">
    <meta name="keywords" content="{ifset #keywords}{include #keywords|striptags}{else}nette, addons, plugins, components, extension, forms{/ifset}">
    <meta name="googlebot" content="snippet,archive">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Nette Community">

    <!-- FACEBOOK -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{ifset #title}{include #title|striptags} | {else}Addons, plugins and components | {/ifset}Nette Framework">
    <meta property="og:url" content="{plink //this}">
    <meta property="og:site_name" content="Addons, plugins and components | Nette Framework">

	<!-- STYLESHEETS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/github.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css">
    <link rel="stylesheet" href="{$basePath}/assets/css/theme.css?v={$rev}">

    <!-- FONT -->
    {if $isFontLoaded}
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,700italic&subset=latin,latin-ext">
    {else}
        <script>
            function createCookie(name,value,days) {
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime()+(days*24*60*60*1000));
                    var expires = "; expires="+date.toGMTString();
                }
                else var expires = "";
                document.cookie = name+"="+value+expires+"; path=/";
            }

            WebFontConfig = {
                google: {
                    families: ['Open+Sans:400,400italic,600,700,700italic&subset=latin,latin-ext']
                },
                active : function (){
                    createCookie('fontIsLoaded', 'yes', 100);
                }

            };


            var el = document.documentElement;
            el.className += ' wf-loading';
            setTimeout(function() {
                el.className = el.className.replace(/(^|\s)wf-loading(\s|$)/g, ' ');
            }, 1000);
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js" async defer></script>
    {/if}
</head>
<body>
    <!-- Packages Container -->
    <div class="container">

        <div class="header row">
            <div class="col-xs-1 header-col">
                <a class="main-title" n:href=":Front:Home:"><span class="mega-octicon octicon-home"></span></a>
            </div>
            <div class="col-xs-10 header-col">
                <div class="b-search">
                    {control search}
                    {if $presenter->isLinkCurrent(':Front:List:*')}
                        {control search:controls}
                    {/if}
                </div>
            </div>
            <div class="col-sm-1  header-col">
                <a href="#" title="Add new package" data-tooltip="bottom" data-toggle="modal" data-target="#package-modal" class="btn btn-default button--add-package"><span class="mega-octicon octicon-plus"></span></a>
            </div>
        </div>

        <div class="alerts" n:inner-foreach="$flashes as $flash">
            <div class="alert alert-{$flash->type}">{$flash->message}</div>
        </div>

        <div class="content">
            <div class="row">
                {ifset #wrapper}
                    {block #wrapper}
                        <div class="col-md-3">
                            <h2 class="category"><span class="mega-octicon octicon-tag"></span> Tags</h2>
                            {block #sidebar}
                                {control sideMenu}
                            {/block}
                        </div>
                        <div class="col-md-9">
                            {include #content}
                        </div>
                    {/block}
                {else}
                    <div class="col-md-12">
                        {include #content}
                    </div>
                {/ifset}
            </div>
        </div>

        <div class="footer">
            <p>Copyright © 2008 - {date('Y')} <a href="http://nettefoundation.com">Nette Foundation</a> | <a href="https://nette.org/terms-of-use">Terms of use</a> | If not stated otherwise, the contents are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/cz/">Creative Commons CC-BY-SA</a>.</p>
        </div>
    </div>

    <!-- Nette Bar -->
    <div class="bar">
        <div>
            <ul class="projects">
                <li><a href="https://nette.org">Nette</a></li>
                <li><a href="https://tracy.nette.org">Tracy</a></li>
                <li><a href="https://latte.nette.org">Latte</a></li>
                <li><a href="https://tester.nette.org">Tester</a></li>
                <li><a href="http://ne-on.org">Neon</a></li>
            </ul>
            <ul class="user hidden-sm hidden-xs">
                <li><a n:href=":Front:Home:" class="active"><span>Add-ons</span></a></li>
                <li><a href="https://pla.nette.org"><span>Planette</span></a></li>
                <li><a href="https://forum.nette.org/cs/"><span>Forum</span></a></li>
                <li><a href="https://blog.nette.org"><span>Blog</span></a></li>
                <li><a href="https://nette.org/donate"><span>Donate</span></a></li>
            </ul>
        </div>
    </div>

    {control modal}
    {include '_parts/@ga.latte'}
    {include '_parts/@pageinfo.latte'}

    <!-- SCRIPTS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>
    <script src="{$basePath}/assets/js/nette/nette.forms.js?v={$rev}"></script>
    <script src="{$basePath}/assets/js/nette/nette.ajax.js?v={$rev}"></script>
    <script src="{$basePath}/assets/js/main.js?v={$rev}"></script>

</body>
</html>
