<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="wIeHv7ZRzLxLQy7wrS9tjxHGFXVVUCtZQMPDYeMAriQ">
    <link rel="shortcut icon" href="{$baseUri}/favicon.ico">
    <link rel="canonical" href="{plink this}">

    <!-- Title -->
    <title>{ifset #title}{include #title|striptags}{else}Addons, plugins and components{/ifset} | Componette</title>

    <!-- Seo -->
    <meta name="description" content="{ifset #description}{include #description|striptags}{else}New and modern addons portal for Nette Framework.{/ifset}">
    <meta name="keywords" content="{ifset #keywords}{include #keywords|striptags}{else}nette, addons, plugins, components, extension, forms{/ifset}">
    <meta name="googlebot" content="snippet,archive">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Nette Community">

    <!-- Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{ifset #title}{include #title|striptags}{else}Addons, plugins and components{/ifset} | Componette">
    <meta property="og:url" content="{plink //this}">
    <meta property="og:site_name" content="Componette">
    <!--<meta property="og:image" content="">-->

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@componette">
    <meta name="twitter:url" content="{plink //this}">
    <meta name="twitter:title" content="{ifset #title}{include #title|striptags}{else}Addons, plugins and components{/ifset} | Componette">
    <meta name="twitter:description" content="{ifset #description}{include #description|striptags}{else}New and modern addons portal for Nette Framework.{/ifset}">
    <!--<meta name="twitter:image" content="">-->

    <!-- Styles -->
    <link rel="stylesheet" href="{$basePath}/dist/external.css">
    <link rel="stylesheet" href="{$basePath}/dist/bundle.css?v={$rev}">

    <!-- Extra head-->
    {block #head}{/block}
</head>
<body>
    <!-- Container -->
    <div class="container">

        <!-- Header -->
        <div class="header row">
            <div class="col-xs-1 header-col">
                <a class="main-title" n:href=":Front:Home:"><span class="mega-octicon octicon-home"></span></a>
            </div>
            <div class="col-xs-10 header-col">
                <div class="b-search">
                    {control search}
                    {if $presenter->isLinkCurrent(':Front:List:*')}
                        {control search:controls}
                    {/if}
                </div>
            </div>
            <div class="col-sm-1  header-col">
                <a href="#" title="Add new package" data-tooltip="bottom" data-toggle="modal" data-target="#package-modal" class="btn btn-default button--add-package"><span class="mega-octicon octicon-plus"></span></a>
            </div>
        </div>
        <!-- /Header -->

        <!-- Flashes -->
        <div class="alerts" n:inner-foreach="$flashes as $flash">
            <div class="alert alert-{$flash->type}">{$flash->message}</div>
        </div>
        <!-- /Flashes -->

        <!-- Content -->
        <div class="content">
            <div class="row">
                {ifset #wrapper}
                    {block #wrapper}
                        <!-- Sidebar(3) -->
                        <div class="col-md-3">
                            <h2 class="category"><span class="mega-octicon octicon-tag"></span> Tags</h2>
                            {block #sidebar}
                                {control sideMenu}
                            {/block}
                        </div>
                        <!-- /Sidebar(3) -->

                        <!-- Content(9) -->
                        <div class="col-md-9">
                            {include #content}
                        </div>
                        <!-- /Content(9) -->
                    {/block}
                {else}
                    <!-- Content(12) -->
                    <div class="col-md-12">
                        {include #content}
                    </div>
                    <!-- Content(12) -->
                {/ifset}
            </div>
        </div>
        <!-- /Content -->
    </div>
    <!-- /Container -->

    <!-- Footer -->
    <div class="footer">
        <div class="testing">
            <p>This is testing version. Please report all issues or ideas on <a href="https://github.com/componette/componette.com/issues">Github</a>.</p>
        </div>
        <div class="statistics">
            <div class="container">
                {control statistics:footer}
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>Copyright © 2015 - {date('Y')} <a href="http://github.com/componette">Componette</a></p>
            </div>
        </div>
    </div>
    <!-- /Footer -->

    <!-- Nette Bar -->
    <div class="bar">
        <div>
            <ul class="projects">
                <li><a href="https://nette.org">Nette</a></li>
                <li><a href="https://tracy.nette.org">Tracy</a></li>
                <li><a href="https://latte.nette.org">Latte</a></li>
                <li><a href="https://tester.nette.org">Tester</a></li>
                <li><a href="http://ne-on.org">Neon</a></li>
            </ul>
            <ul class="user hidden-sm hidden-xs">
                <li><a n:href=":Front:Home:" class="active"><span>Add-ons</span></a></li>
                <li><a href="https://pla.nette.org"><span>Planette</span></a></li>
                <li><a href="https://forum.nette.org/cs/"><span>Forum</span></a></li>
                <li><a href="https://blog.nette.org"><span>Blog</span></a></li>
                <li><a href="https://nette.org/donate"><span>Donate</span></a></li>
            </ul>
        </div>
    </div>
    <!-- /Nette Bar -->

    <!-- Microdata -->
    <div class="microdata" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">Componette</span>
        <span itemprop="company">Componette</span>
        <a itemprop="email" href="mailto:admin@componette.com">admin@componette.com</a>
    </div>
    <!-- /Microdata -->

    <!-- Add addon -->
    {control modal}
    <!-- /Add addon -->

    <!-- Tracking -->
    {include '_parts/@ga.latte'}
    {include '_parts/@pageinfo.latte'}
    <!-- /Tracking -->

    <!-- Scripts -->
    <script src="{$basePath}/dist/external.js"></script>
    <script src="{$basePath}/dist/bundle.js?v={$rev}"></script>
    <!-- /Scripts -->
</body>
</html>
