{if $packages->count()}
<div class="packages">


    <div class="b-package" n:foreach="$packages as $package">
        <div class="row">
            <div class="col-md-10">
                <article class="b-package__article">
                    <section class="b-package__body">

                        <h3 class="b-package__title">
                            <a href="{$package->metadata->linker->getOwnerUrl()}"><img class="b-package__avatar" src="{$package->metadata->linker->getOwnerAvatarUrl(20)}"></a>
                            <a class="link-author" href="{plink List:owner, slug => $package->metadata->owner}">{$package->metadata->owner}</a>
                            /
                            <a href="{plink :Front:Package:detail, slug => $package->id}">{$package->metadata->name}</a></h3>

                        <p>{$package->metadata->description|truncate:150}</p>
                        {*<a class="tag" href="#"  n:foreach="$package->metadata->tags as $tag">#{$tag}</a>*}
                    </section>

                </article>
            </div>
            <div class="col-md-2">
                {control meta:short $package}
            </div>
        </div>

    </div>
</div>
{else}
    <p class="alert alert-danger">No package found.</p>
{/if}
