{if $packages->count()}
<div class="packages">


    <div class="b-package" n:foreach="$packages as $package">
        <div class="row">
            <div class="col-md-9">
                <article class="b-package__article">
                    <section class="b-package__body">
                        <h3 class="b-package__title">
                            <a href="{plink :Front:Package:detail, slug => $package->id}"><img class="b-package__avatar" src="{$package->metadata->linker->getOwnerAvatarUrl(20)}">
                            {$package->metadata->owner}
                            /
                            {$package->metadata->name}</a>
                        </h3>

                        <p>{$package->metadata->description|truncate:150}</p>
                    </section>
                </article>
            </div>
            <div class="col-md-3">
                {control meta:short $package}
            </div>
        </div>

    </div>
</div>
{else}
    <p class="alert alert-danger">No package found.</p>
{/if}
