<form n:name="form" class="search-form">
    <div class="icon"><span class="mega-octicon octicon-search"></span></div>
    <input n:name="q" class="search" type="text" autocomplete="off" placeholder="Search for... datetime, captcha, curl, extension, kdyby, nextras, minetro">
</form>
