# IDE
.idea

# Nette
/app/config/config.local.neon

# Assets
/www/assets/css/*.css
/www/dist

# Front-end
/www/imgs

# Composer
/vendor/*

# NPM
/node_modules

# Files
!.gitignore
!.htaccess

# Docker
/.docker/data
/docker-compose.override.yml
