parameters:
	excludes_analyse:
		- */tests/tmp/*

	fileExtensions:
		- php
		- phpt

	ignoreErrors:
		- "#Method App\\\\Model\\\\Database\\\\ORM\\\\[a-zA-Z]+\\\\[a-zA-Z]+::[a-zA-Z]+\\\\(\\\\) should return App\\\\Model\\\\Database\\\\ORM\\\\[a-zA-Z]+\\\\[a-zA-Z]+\\\\|null but returns Nextras\\\\Orm\\\\Entity\\\\IEntity\\\\|null.#"

includes:
	- temp/phpstan/vendor/phpstan/phpstan-nette/extension.neon
	- temp/phpstan/vendor/phpstan/phpstan-nette/rules.neon
