parameters:
	ignoreErrors:
		-
			message: "#^Property App\\\\Model\\\\Database\\\\ORM\\\\ComposerStatistics\\\\ComposerStatistics\\:\\:\\$json \\(Nette\\\\Utils\\\\ArrayHash\\) does not accept mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Composer/CollectStatsCommand.php

		-
			message: "#^Parameter \\#1 \\$array of static method Nette\\\\Utils\\\\Arrays\\:\\:get\\(\\) expects array\\<int\\>, mixed given\\.$#"
			count: 1
			path: app/model/Commands/Addons/Composer/SynchronizeCommand.php

		-
			message: "#^Property App\\\\Model\\\\Database\\\\ORM\\\\Composer\\\\Composer\\:\\:\\$description \\(string\\|null\\) does not accept mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Composer/SynchronizeCommand.php

		-
			message: "#^Property App\\\\Model\\\\Database\\\\ORM\\\\Composer\\\\Composer\\:\\:\\$name \\(string\\) does not accept mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Composer/SynchronizeCommand.php

		-
			message: "#^Property App\\\\Model\\\\Database\\\\ORM\\\\Composer\\\\Composer\\:\\:\\$type \\(string\\|null\\) does not accept mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Composer/SynchronizeCommand.php

		-
			message: "#^Cannot access property \\$author on mixed\\.$#"
			count: 2
			path: app/model/Commands/Addons/Content/GenerateContentCommand.php

		-
			message: "#^Cannot access property \\$fullname on mixed\\.$#"
			count: 2
			path: app/model/Commands/Addons/Content/GenerateContentCommand.php

		-
			message: "#^Cannot access property \\$github on mixed\\.$#"
			count: 6
			path: app/model/Commands/Addons/Content/GenerateContentCommand.php

		-
			message: "#^Cannot access property \\$name on mixed\\.$#"
			count: 2
			path: app/model/Commands/Addons/Content/GenerateContentCommand.php

		-
			message: "#^Parameter \\#1 \\$entity of method Nextras\\\\Orm\\\\Repository\\\\Repository\\:\\:persistAndFlush\\(\\) expects Nextras\\\\Orm\\\\Entity\\\\IEntity, mixed given\\.$#"
			count: 1
			path: app/model/Commands/Addons/Content/GenerateContentCommand.php

		-
			message: "#^Cannot access offset 'created_at' on mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Cannot access offset 'description' on mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Cannot access offset 'fork' on mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Cannot access offset 'forks_count' on mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Cannot access offset 'full_name' on mixed\\.$#"
			count: 2
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Cannot access offset 'homepage' on mixed\\.$#"
			count: 2
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Cannot access offset 'language' on mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Cannot access offset 'message' on mixed\\.$#"
			count: 3
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Cannot access offset 'open_issues_count' on mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Cannot access offset 'pushed_at' on mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Cannot access offset 'stargazers_count' on mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Cannot access offset 'updated_at' on mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Cannot access offset 'watchers_count' on mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Parameter \\#1 \\$datetime of class Nextras\\\\Dbal\\\\Utils\\\\DateTimeImmutable constructor expects string, mixed given\\.$#"
			count: 3
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Parameter \\#1 \\$subject of static method Nette\\\\Utils\\\\Strings\\:\\:match\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Property App\\\\Model\\\\Database\\\\ORM\\\\Github\\\\Github\\:\\:\\$description \\(string\\|null\\) does not accept mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Property App\\\\Model\\\\Database\\\\ORM\\\\Github\\\\Github\\:\\:\\$forks \\(int\\|null\\) does not accept mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Property App\\\\Model\\\\Database\\\\ORM\\\\Github\\\\Github\\:\\:\\$homepage \\(string\\|null\\) does not accept mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Property App\\\\Model\\\\Database\\\\ORM\\\\Github\\\\Github\\:\\:\\$issues \\(int\\|null\\) does not accept mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Property App\\\\Model\\\\Database\\\\ORM\\\\Github\\\\Github\\:\\:\\$language \\(string\\|null\\) does not accept mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Property App\\\\Model\\\\Database\\\\ORM\\\\Github\\\\Github\\:\\:\\$stars \\(int\\|null\\) does not accept mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Property App\\\\Model\\\\Database\\\\ORM\\\\Github\\\\Github\\:\\:\\$watchers \\(int\\|null\\) does not accept mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeCommand.php

		-
			message: "#^Property App\\\\Model\\\\Database\\\\ORM\\\\GithubComposer\\\\GithubComposer\\:\\:\\$json \\(Nette\\\\Utils\\\\ArrayHash\\) does not accept mixed\\.$#"
			count: 2
			path: app/model/Commands/Addons/Github/SynchronizeFilesCommand.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeReleasesCommand.php

		-
			message: "#^Cannot access offset 'body_html' on mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeReleasesCommand.php

		-
			message: "#^Cannot access offset 'created_at' on mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeReleasesCommand.php

		-
			message: "#^Cannot access offset 'draft' on mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeReleasesCommand.php

		-
			message: "#^Cannot access offset 'id' on mixed\\.$#"
			count: 2
			path: app/model/Commands/Addons/Github/SynchronizeReleasesCommand.php

		-
			message: "#^Cannot access offset 'name' on mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeReleasesCommand.php

		-
			message: "#^Cannot access offset 'prerelease' on mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeReleasesCommand.php

		-
			message: "#^Cannot access offset 'published_at' on mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeReleasesCommand.php

		-
			message: "#^Cannot access offset 'tag_name' on mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeReleasesCommand.php

		-
			message: "#^Parameter \\#1 \\$datetime of class Nette\\\\Utils\\\\DateTime constructor expects string, mixed given\\.$#"
			count: 2
			path: app/model/Commands/Addons/Github/SynchronizeReleasesCommand.php

		-
			message: "#^Property App\\\\Model\\\\Database\\\\ORM\\\\GithubRelease\\\\GithubRelease\\:\\:\\$gid \\(int\\) does not accept mixed\\.$#"
			count: 1
			path: app/model/Commands/Addons/Github/SynchronizeReleasesCommand.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: app/model/Facade/Cli/Commands/AddonFacade.php

		-
			message: "#^Property App\\\\Model\\\\Routing\\\\RouterHelper\\:\\:\\$data \\(array\\<array\\<string\\>\\>\\) does not accept array\\.$#"
			count: 1
			path: app/model/Routing/RouterHelper.php

		-
			message: "#^Property App\\\\Model\\\\Services\\\\Search\\\\Search\\:\\:\\$by \\(string\\) does not accept mixed\\.$#"
			count: 1
			path: app/model/Services/Search/SearchFactory.php

		-
			message: "#^Property App\\\\Model\\\\Services\\\\Search\\\\Search\\:\\:\\$limit \\(int\\) does not accept mixed\\.$#"
			count: 1
			path: app/model/Services/Search/SearchFactory.php

		-
			message: "#^Property App\\\\Model\\\\Services\\\\Search\\\\Search\\:\\:\\$q \\(string\\) does not accept mixed\\.$#"
			count: 1
			path: app/model/Services/Search/SearchFactory.php

		-
			message: "#^Method App\\\\Model\\\\Statistics\\:\\:getAddonsCount\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: app/model/Statistics.php

		-
			message: "#^Property App\\\\Model\\\\Statistics\\:\\:\\$cached \\(array\\) does not accept mixed\\.$#"
			count: 1
			path: app/model/Statistics.php

		-
			message: "#^Parameter \\#1 \\$datetime of function strtotime expects string, mixed given\\.$#"
			count: 1
			path: app/model/Templating/Filters/Filters.php

		-
			message: "#^Parameter \\#2 \\$timestamp of function date expects int\\|null, mixed given\\.$#"
			count: 1
			path: app/model/Templating/Filters/Filters.php

		-
			message: "#^Parameter \\#3 \\$opts of method App\\\\Model\\\\WebServices\\\\Github\\\\GithubClient\\:\\:makeRequest\\(\\) expects array\\<string\\>, array given\\.$#"
			count: 1
			path: app/model/WebServices/Github/GithubService.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$props of static method Wavevision\\\\PropsControl\\\\Helpers\\\\PropUtils\\:\\:merge\\(\\) expects array\\<Nette\\\\Schema\\\\Schema\\>, array given\\.$#"
			count: 1
			path: app/modules/Front/Base/Controls/AddonList/Avatar/AvatarProps.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$props of static method Wavevision\\\\PropsControl\\\\Helpers\\\\PropUtils\\:\\:merge\\(\\) expects array\\<Nette\\\\Schema\\\\Schema\\>, array given\\.$#"
			count: 1
			path: app/modules/Front/Base/Controls/AddonList/Name/NameProps.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$props of static method Wavevision\\\\PropsControl\\\\Helpers\\\\PropUtils\\:\\:merge\\(\\) expects array\\<Nette\\\\Schema\\\\Schema\\>, array given\\.$#"
			count: 1
			path: app/modules/Front/Base/Controls/AddonList/Statistics/StatisticsProps.php

		-
			message: "#^Cannot access offset 'core' on mixed\\.$#"
			count: 3
			path: app/modules/Front/Base/Controls/Status/Status.php

		-
			message: "#^Cannot access offset 'limit' on mixed\\.$#"
			count: 2
			path: app/modules/Front/Base/Controls/Status/Status.php

		-
			message: "#^Cannot access offset 'remaining' on mixed\\.$#"
			count: 2
			path: app/modules/Front/Base/Controls/Status/Status.php

		-
			message: "#^Cannot access offset 'reset' on mixed\\.$#"
			count: 2
			path: app/modules/Front/Base/Controls/Status/Status.php

		-
			message: "#^Cannot access offset 'resources' on mixed\\.$#"
			count: 6
			path: app/modules/Front/Base/Controls/Status/Status.php

		-
			message: "#^Cannot access offset 'search' on mixed\\.$#"
			count: 3
			path: app/modules/Front/Base/Controls/Status/Status.php

		-
			message: "#^Parameter \\#1 \\$time of static method Nette\\\\Utils\\\\DateTime\\:\\:from\\(\\) expects DateTimeInterface\\|int\\|string, mixed given\\.$#"
			count: 2
			path: app/modules/Front/Base/Controls/Status/Status.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: app/modules/Front/Base/Controls/Svg/Control.php

		-
			message: "#^Access to an undefined property Nextras\\\\Orm\\\\Entity\\\\IEntity\\:\\:\\$addons\\.$#"
			count: 2
			path: app/modules/Front/Base/Controls/Tags/Tags.php

		-
			message: "#^Property App\\\\Modules\\\\Front\\\\Rss\\\\Controls\\\\RssFeed\\\\RssFeed\\:\\:\\$time \\(int\\|Nette\\\\Utils\\\\DateTime\\|string\\) does not accept mixed\\.$#"
			count: 1
			path: app/modules/Front/Rss/Controls/RssFeed/RssFeed.php

		-
			message: "#^Parameter \\#1 \\$author of method App\\\\Modules\\\\Front\\\\Rss\\\\Controls\\\\RssFeed\\\\RssFeedFactory\\:\\:createByAuthor\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: app/modules/Front/Rss/RssPresenter.php
