parameters:
	level: max

	paths:
		- app

	excludes_analyse:
		- */tests/tmp/*

	fileExtensions:
		- php
		- phpt

	ignoreErrors:
		# ORM
		- "#Method App\\\\Model\\\\Database\\\\ORM\\\\[a-zA-Z]+\\\\[a-zA-Z]+::[a-zA-Z]+\\\\(\\\\) should return App\\\\Model\\\\Database\\\\ORM\\\\[a-zA-Z]+\\\\[a-zA-Z]+\\\\|null but returns Nextras\\\\Orm\\\\Entity\\\\IEntity\\\\|null.#"
		- "#Property.+\\(iterable<App\\\\Model\\\\Database\\\\ORM\\\\[a-zA-Z]+\\\\[a-zA-Z]+>&Nextras\\\\Orm\\\\Collection\\\\ICollection\\).+Nextras\\\\Dbal\\\\Result\\\\Result\\|Nextras\\\\Orm\\\\Entity\\\\IEntity.#"

		# Nette Presenters
		- '#Access to an undefined property Nette\\ComponentModel\\IComponent::\$controlPrototype.#'

includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
