parameters:
	level: 9
	phpVersion: 80000

	paths:
		- app

	excludePaths:
		- */tests/tmp/*

	fileExtensions:
		- php
		- phpt

	ignoreErrors:
		# Nextras
		- '#^Method App\\Model\\Database\\ORM\\[a-zA-Z]+\\[a-zA-Z]+::[a-zA-Z]+\(\) should return App\\Model\\Database\\ORM\\[a-zA-Z]+\\[a-zA-Z]+\|null but returns Nextras\\Orm\\Entity\\IEntity\|null\.$#'
		- '#^Method App\\Model\\Facade\\[a-zA-Z]+::[a-zA-Z]+\(\) should return App\\Model\\Database\\ORM\\[a-zA-Z]+\\[a-zA-Z]+\|null but returns Nextras\\Orm\\Entity\\IEntity\|null\.$#'

		# Nette Presenters
		- '#Access to an undefined property Nette\\ComponentModel\\IComponent::\$controlPrototype.#'

includes:
	- phpstan-baseline.neon
	# Extensions
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	#- vendor/nextras/orm-phpstan/extension.neon
