{block}
<div class="row">
    {cache "statistics/statistics", expire => '+1 hour'}
    <section class="col-md-offset-1 col-md-3">
        <h4>Statistics</h4>
        <ul class="unstyled">
            <li>Addons: <strong>{$addons}</strong></li>
            <li>Queued: <strong>{$queued}</strong></li>
            <li>Owners: <strong>{$owners}</strong></li>
            <li>Tags: <strong>{$tags}</strong></li>
        </ul>
    </section>
    {/cache}

    {cache "statistics/popular", expire => '+1 day'}
    <section class="col-md-4">
        <h4>Most popular</h4>
        <ul n:foreach="$popular as $addon">
            <li><a href="{plink :Front:Addon:detail, slug => $addon->id}">{$addon->fullname}</a></li>
        </ul>
    </section>
    {/cache}

    {cache "statistics/newest", expire => '+1 hour'}
    <section class="col-md-4">
        <h4>Newest</h4>
        <ul n:foreach="$newest as $addon">
            <li><a href="{plink :Front:Addon:detail, slug => $addon->id}">{$addon->fullname}</a></li>
        </ul>
    </section>
    {/cache}
</div>
