{if count($list) > 0}
<div class="addons addons-all" n:foreach="$list as $category => $addons">
    <h2 class="category" id="toc-{$categories[$category]->name|lower}">
        <a href="{link this}#toc-{$categories[$category]->name|lower}">
            <span class="octicon octicon-bookmark"></span>
        </a>
        {$categories[$category]->name|ucfirst}
        ({=count($addons)})
    </h2>
    <div class="b-addon" n:foreach="$addons as $addon">
        <div class="row">
            <div class="col-md-12">
                <article class="b-addon__article">
                    <section class="b-addon__image">
                        <a href="{plink Addon:detail, slug => $addon->id}">
                            <img alt="" title="{$addon->owner}" src="{avatar $addon->owner}">
                        </a>
                    </section>
                    <section class="b-addon__body">
                        <h3 class="b-addon__title">
                            <a href="{plink Addon:detail, slug => $addon->id}">
                            {$addon->owner}
                            /
                            {$addon->name}</a>
                            <small>{$addon->github->description|truncate:150}</small>
                        </h3>
                    </section>
                </article>
            </div>
        </div>
    </div>
</div>
{else}
    <p class="alert alert-danger">No package found.</p>
{/if}
