{contentType xml}
<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url n:foreach="$urls as $url">
        <loc>{$url['loc']}</loc>
        <changefreq n:ifset="$url['change']">{$url['change']}</changefreq>
        <priority n:ifset="$url['priority']">{$url['priority']|number:2}</priority>
    </url>
</urlset>
