{block}
<h2>Componetters</h2>
<p><q>Thank you guys.</q></p>
{cache componetters, expire => '+1 day'}
<div class="componetters">
    <div n:foreach="$componetters as $componetter => $addon">
        <a n:tag-if="$addon->github" data-toggle="tooltip" data-placement="top" data-original-title="{$addon->author} (since {$addon->createdAt|date})" href="{$addon->github->linker->getAuthorUrl()}">
            <img src="{avatar $componetter, ['s' => 30]}">
        </a>
    </div>
</div>
{/cache}
