extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	xcache: Contributte\Cache\DI\CacheFactoryExtension
	curl: Contributte\Http\DI\CurlExtension
	nextras.queryobject: Contributte\Nextras\Orm\QueryObject\DI\NextrasQueryObjectExtension

console:
	name: "Componette"
	version: "1.2.0"
