extensions:
	dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension

dbal:
	driver: %database.driver%
	host: %database.host%
	database: %database.dbname%
	username: %database.user%
	password: %database.password%
	connectionTz: '+2:00'

orm:
	model: App\Model\Database\ORM\EntityModel

migrations:
	dir: %appDir%/../migrations
	driver: mysql
	dbal: nextras
