extensions:
	webpack: Contributte\Webpack\DI\WebpackExtension(%debugMode%, %consoleMode%)

webpack:
	build:
		directory: %wwwDir%/dist
		publicPath: dist/
	devServer:
		enabled: %debugMode%
		url: http://localhost:9006
	manifest:
		name: manifest.json
