{block #title}All addons{/block}
{block #breadcrumbs}
    <a n:href=":Front:Home:">Home</a> > All
{/block}

{block #content}
<div n:snippet="search-result"></div>

<h2 class="category"><span class="mega-octicon octicon-list-unordered"></span> All packages</h2>
{control categorizedAddons}
