{block #title}By {$owner}{/block}
{block #breadcrumbs}
    <a n:href=":Front:Home:">Home</a> > {$owner}
{/block}

{block #content}
<div n:snippet="search-result"></div>

<h2 class="category"><span class="mega-octicon octicon-gist-secret"></span> By <strong>{$owner}</strong></h2>
{control addons}
