{block #breadcrumbs}
    <a n:href=":Front:Home:">Home</a> > {$owner}
{/block}

{block #content}

<h2 class="category"><span class="mega-octicon octicon-gist-secret"></span> By <strong>{$owner}</strong></h2>
{control packages}
