{block #breadcrumbs}
    <a n:href=":Front:Home:">Home</a> > By search
{/block}
{block #content}
<h2 class="category"><span class="mega-octicon octicon-search"></span> Searched for <strong>{$search->q}</strong></h2>

{snippet search-result}
    {control packages}
{/snippet}