{block #breadcrumbs}
	<a n:href=":Front:Home:">Home</a> > {$tag}
{/block}

{block #content}
<div n:snippet="search-result"></div>

<h2 class="category"><span class="mega-octicon octicon-tag"></span> Taged for <strong>{$tag}</strong></h2>
{control addons}
