<form n:name="form" class="search-form">
    <input n:name="q" data-handle="{plink :Front:Api:suggest, q => '_QUERY_'}" class="search" type="text" autofocus placeholder="Search for... datetime, captcha, curl, extension, kdyby, nextras, minetro">
</form>
