<form n:name="form" class="search-form">
    <div class="icon"><span class="mega-octicon octicon-search"></span></div>
    <input n:name="q" data-handle="{plink :Front:List:search, q => '_QUERY_'}" class="search" type="text" autocomplete="off" autofocus placeholder="Search for... datetime, captcha, curl, extension, kdyby, nextras, minetro">
</form>
