{block #content}

<div n:snippet="search-result"></div>

<div class="row">
	<div class="col-md-6">
		<h2 class="category"><span class="mega-octicon octicon-cloud-download"></span> Newest</h2>
		{control newest}
	</div>
	<div class="col-md-6">
		<h2 class="category"><span class="mega-octicon octicon-star"></span> Most popular</h2>
		{control mostPopular}
	</div>
</div>

<h2 class="category"><span class="mega-octicon octicon-clock"></span> Last activity</h2>
{control lastActive}
