parameters:

	# Database
	database:
		host: <fill me>
		dbname: <fill me>
		user: <fill me>
		password: <fill me>
		port: 3306

	# Error mail
	#system:
	#	error:
	#		email: <fill me>

	# Github
	#github:
	#	token: *TOKEN*

services:

	# Disable cache
	#cache.storage: Nette\Caching\Storages\DevNullStorage

	# Disable latte cache
	#latte.latteFactory:
	#	setup:
	#		- setTempDirectory(null)


#http:
#	proxy:
#		- 192.168.0.1/1
