php:
	date.timezone: Europe/Prague
	# session.save_path: %tempDir%/session
	# zlib.output_compression: true

parameters:
	database:
		driver: mysqli

includes:
	# APPLICATION ==
	- app/components.neon
	- app/console.neon
	- app/latte.neon
	- app/model.neon
	- app/parameters.neon

	# EXTENSIONS ===
	- ext/contributte.neon
	- ext/nextras.neon
	- ext/webpack.neon

session:
	debugger: %debugMode%
	expiration: '+14 days'
	autoStart: true

application:
	catchExceptions: %productionMode%
	errorPresenter: %system.error.presenter%
	mapping:
		*: [App\Modules, *, *\*Presenter]

http:
	headers:
		X-XSS-Protection: "1; mode=block"
		X-Powered-By: "componette"

routing:
	debugger: %debugMode%

di:
	debugger: %debugMode%

tracy:
	email: %system.error.email%
	strictMode: true

services:
	nette.userStorage:
		setup:
			- setNamespace(Componette)
