php:
    date.timezone: Europe/Prague
    # session.save_path: %tempDir%/session
    # zlib.output_compression: true

parameters:
    database:
        driver: mysqli

includes:
    - engine.neon

latte:
    xhtml: no

session:
    debugger: %debugMode%
    expiration: '+14 days'
    autoStart: smart

application:
    catchExceptions: %productionMode%
    errorPresenter: %system.error.presenter%
    mapping:
        *: App\Modules\*\*Presenter

http:
    headers:
        X-XSS-Protection: "1; mode=block"
        X-Powered-By: "componette"

routing:
    debugger: yes

di:
    debugger: yes

tracy:
    email: %system.error.email%
    strictMode: yes

services:
    nette.userStorage:
        setup:
            - setNamespace(Componette)
