parameters:

    # Database
    database:
        host: <fill me>
        dbname: <fill me>
        user: <fill me>
        password: <fill me>

    # Error mail
    system:
        error:
            email: <fill me>

    # Github
    github:
        token: null