includes:

    # APPLICATION ==========================================
    - app/components.neon
    - app/console.neon
    - app/latte.neon
    - app/model.neon
    - app/other.neon
    - app/parameters.neon

    # EXTENSIONS ===========================================
    - ext/console.neon
    - ext/dbal.neon
    - ext/migration.neon
    - ext/orm.neon
