includes:

	# APPLICATION ==
	- app/components.neon
	- app/console.neon
	- app/latte.neon
	- app/model.neon
	- app/parameters.neon

	# EXTENSIONS ===
	- ext/contributte.neon
	- ext/minetro.neon
	- ext/nextras.neon
