{block}
<div class="title-repo">
    <a data-ga="1" data-event="click" data-category="header" data-action="repo-image" href="{plink List:owner, slug => $addon->owner}">
        <img alt="" title="{$addon->owner}" src="{plink WebImage:avatar, $addon->owner}">
    </a>
    <a data-ga="1" data-event="click" data-category="header" data-action="repo-owner" title="Show all addons by {$addon->owner}" href="{plink List:owner, slug => $addon->owner}">
        {$addon->owner}
    </a>
    /
    <a data-ga="1" data-event="click" data-category="header" data-action="repo-name" title="See {$addon->name} Github profile" href="{$addon->github->linker->getRepoUrl()}">
        {$addon->name}
    </a>
</div>

<div class="title-code title-composer" n:if="$addon->isComposer && $addon->composer">
    <span class="composer-clipboard octicon octicon octicon-desktop-download" data-toggle="tooltip" data-placement="left" title="Click & copy" data-composer="composer require {$addon->github->composer->getName()}"></span>
    <span class="composer-code">composer require {$addon->github->composer->getName()}</span>
</div>

<div class="title-code title-bower" n:if="$addon->isBower && $addon->bower">
    <span class="composer-clipboard octicon octicon octicon-desktop-download" data-toggle="tooltip" data-placement="left" title="Click & copy" data-composer="bower install {$addon->bower->name}"></span>
    <span class="composer-code">bower install {$addon->bower->name}</span>
</div>

<div class="clearfix"></div>
