{block}
<div id="addon-report">
    <p>
        Is this addon outdated? Did you find a problem? Please <a target="_blank" href="https://github.com/componette/componette.com/wiki/REPORTING">report it</a>.
    </p>
</div>

