{block #title}Status{/block}
{block #breadcrumbs}
    <a n:href=":Front:Home:">Home</a> > Status page
{/block}
{block #content}
<section class="page page-default">
    <h1>Status page</h1>

    {control status}

</section>
