{varType App\Model\Database\ORM\Addon\Addon[] $addons}
{varType string|null $title}
{if count($addons)}
    <div n:if="$title" class="flex flex-wrap items-center justify-between px-5 pt-3 lg:px-8 lg:pt-4">
        <div class="mb-3 lg:mb-5">
            {control heading, $title}
        </div>
        <a href="{plink :Front:Index:all}"
           class="inline-flex px-4 py-2 mb-3 font-medium text-teal-900 uppercase border rounded lg:mb-4 hover:bg-blue-100 transition duration-150 ease-in-out"
        >
            Show all
        </a>
    </div>
    {varType App\Model\Database\ORM\Addon\Addon $addon}
    {foreach $addons as $addon}
        <div class="flex flex-wrap items-center justify-between px-5 pt-3 border-t lg:px-8 lg:pt-4">
            <div class="flex items-center w-full mb-3 lg:mb-5 md:w-3/5">
                {control avatar, $addon}
                <div class="flex flex-col flex-1">
                    {control name, $addon}
                    {control description, $addon}
                </div>
            </div>
            {control statistics, $addon, false, true}
        </div>
    {/foreach}
{else}
    <p class="text-xl text-gray-500 p-4">No package found.</p>
{/if}
