<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <meta name="google-site-verification" content="wIeHv7ZRzLxLQy7wrS9tjxHGFXVVUCtZQMPDYeMAriQ">
    <link rel="shortcut icon" href="{$baseUrl}/favicon.ico">
    <link rel="canonical" href="{plink this}">
    <meta name="theme-color" content="#314159">

    <!-- Title -->
    <title>{ifset #title}{include #title|striptags}{else}Addons, plugins and components{/ifset} | Componette</title>

    <!-- Seo -->
    <meta name="description" content="{ifset #description}{include #description|striptags}{else}Addons, plugins and components for Nette Framework.{/ifset}">
    <meta name="keywords" content="{ifset #keywords}{include #keywords|striptags}{else}nette, contributte, addons, plugins, components, extensions, forms, datagrid{/ifset}">
    <meta name="googlebot" content="snippet,archive">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Nette Community">
	<meta name="seznam-wmt" content="Caz6JBOXQGqOT62aVO35KMerSIu0O5EZ">

    <!-- Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{ifset #title}{include #title|striptags}{else}Addons, plugins and components{/ifset} | Componette">
    <meta property="og:url" content="{plink //this}">
    <meta property="og:site_name" content="Componette">
    <!--<meta property="og:image" content="">-->

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@componette">
    <meta name="twitter:url" content="{plink //this}">
    <meta name="twitter:title" content="{ifset #title}{include #title|striptags}{else}Addons, plugins and components{/ifset} | Componette">
    <meta name="twitter:description" content="{ifset #description}{include #description|striptags}{else}Addons, plugins and components for Nette Framework.{/ifset}">

    <link rel="stylesheet" href={webpack front.css}>

    <!-- Feeds -->
    <link rel="alternate" type="application/rss+xml" title="RSS" n:href="//:Front:Rss:newest">

    <!-- Opensearch -->
    <link rel="search" type="application/opensearchdescription+xml" title="Componette" n:href="//:Front:Generator:opensearch, v => 2.4">

    <!-- Extra head-->
    {block #head}{/block}
</head>
<body>
    {control flashMessages}
    {control header}
    {control search}

    <div class="px-2 md:px-4 overflow-hidden">
        <div class="container mx-auto mb-10">
            {include #content}
        </div>
    </div>
    {control footer}

    <!-- Microdata -->
    <div class="microdata" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">Componette</span>
        <span itemprop="company">Componette</span>
        <a itemprop="email" href="mailto:felix@nette.org">felix@nette.org</a>
    </div>
    <!-- /Microdata -->

    <!-- Tracking -->
    {include '_parts/@ga.latte'}
    {include '_parts/@pageinfo.latte'}
    <!-- /Tracking -->

    <!-- Tracking -->
    {include '_parts/@smartlook.latte'}
    {include '_parts/@ga.latte'}
    {include '_parts/@pageinfo.latte'}
    <!-- /Tracking -->

    <!-- Scripts -->
    <script src={webpack front.js}></script>
    {block #scripts}{/block}
    <!-- /Scripts -->
</body>
</html>
