{block}
<div class="title-repo">
    <ul>
        <li class="title-image">
            <a data-ga="1" data-event="click" data-category="header" data-action="repo-image" href="{plink Index:author, slug => $addon->author}">
                <img alt="" title="{$addon->author}" src="{avatar $addon->author}">
            </a>
        </li>
        <li>

            <a data-ga="1" data-event="click" data-category="header" data-action="repo-author" title="Show all addons by {$addon->author}" href="{plink Index:author, slug => $addon->author}">
                {$addon->author}
            </a>
        </li>
        <li>/</li>
        <li>

            <a data-ga="1" data-event="click" data-category="header" data-action="repo-name" title="See {$addon->name} Github profile" href="{$addon->github->linker->getRepoUrl()}">
                {$addon->name}
            </a>
        </li>
        <li class="title-tags">
            <span n:foreach="$addon->tags as $tag" class="label label-success"><a href="{plink Index:tag tag => $tag->name}">#{$tag->name}</a></span>

        </li>
    </ul>
</div>

<div class="title-code title-composer hidden-sm hidden-xs" n:if="$addon->isComposer && $addon->github->masterComposer">
    <span class="composer-clipboard octicon octicon octicon-desktop-download" data-toggle="tooltip" data-placement="left" title="Click & copy" data-composer="composer require {$addon->github->masterComposer->name}"></span>
    <span class="composer-code">composer require {$addon->github->masterComposer->name}</span>
</div>

<div class="clearfix"></div>
