{block}
<div id="addon-report">
    <p>
        Is this addon outdated? Did you find an issue? Please <a target="_blank" href="https://github.com/contributte/componette-site/wiki/REPORTING">report it</a>.
    </p>
</div>

