{block}

{var $author = $addon->author}
{var $name = $addon->name}

<div class="github">
    <div class="title">Github</div>
    <div>
        <span class="octicon octicon-mark-github"></span>
        <a data-ga="1" data-event="click" data-category="sidebar" data-action="github" href="{$addon->github->linker->getRepoUrl()}">
            {$author} / {$name}
        </a>
    </div>
</div>

<div class="statistics">
    <div class="title">Statistics</div>
    <table>
        {if $addon->isComposer && $addon->composer}
            <tr>
                <td><span class="octicon octicon-cloud-download"></span></td>
                <td data-toggle="tooltip" data-placement="left" title="Total downloads">{$addon->composer->downloads|count}</td>
            </tr>
        {elseif $addon->isBower && $addon->bower}
            <tr>
                <td><span class="octicon octicon-cloud-download"></span></td>
                <td data-toggle="tooltip" data-placement="left" title="Total hits">{$addon->bower->downloads|count}</td>
            </tr>
        {/if}
        <tr>
            <td><span class="octicon octicon-star"></span></td>
            <td data-toggle="tooltip" data-placement="left" title="Total stargazers">{$addon->github->stars|count}</td>
        </tr>
        <tr>
            <td><span class="octicon octicon-issue-opened"></span></td>
            <td data-toggle="tooltip" data-placement="left" title="Open issues">{$addon->github->issues|count}</td>
        </tr>
        <tr>
            <td><span class="octicon octicon-clock"></span></td>
            <td data-toggle="tooltip" data-placement="left" title="Last activity">{$addon->github->pushedAt|timeAgo}</td>
        </tr>
    </table>
</div>

<div class="badges">
    <div class="title">Badges</div>
    <ul>
        <li>
            <a href="{$addon->github->linker->getRepoUrl()}">
                <img alt="" title="isitmaintained" loading="lazy" src="https://isitmaintained.com/badge/resolution/{$author|lower}/{$name|lower}.svg">
            </a>
        </li>
        <li>
            <a href="{$addon->github->linker->getRepoUrl()}">
                <img alt="" title="isitmaintained" loading="lazy" src="https://isitmaintained.com/badge/open/{$author|lower}/{$name|lower}.svg">
            </a>
        </li>
        {if $addon->isComposer && $addon->composer && $addon->github->masterComposer}
            <li>
                <a href="{$addon->composer->linker->getPackageUrl()}">
                    <img alt="" title="{$addon->github->masterComposer->name}" loading="lazy" src="https://img.shields.io/packagist/v/{$addon->github->masterComposer->name}.svg">
                </a>
            </li>
            <li>
                <a href="{$addon->github->linker->getRepoUrl()}">
                    <img alt="" title="{$addon->github->masterComposer->name}" loading="lazy" src="https://img.shields.io/packagist/l/{$addon->github->masterComposer->name}.svg">
                </a>
            </li>
        {/if}
    </ul>
</div>

<div class="requirements tags">
    <div class="title">Tags</div>
    <span n:foreach="$addon->tags as $tag" class="label label-success">
        <a href="{plink Index:tag tag => $tag->name}">
            <i class="octicon octicon-tag"></i> {$tag->name}
        </a>
    </span>
</div>

{if $addon->isComposer && $addon->composer && $addon->github->masterComposer}
    {var $composer = $addon->github->masterComposer}
    {if ($require = $composer->get('require', []))}
        <div class="requirements">
            <div class="title">Dependencies</div>

            <ul n:inner-foreach="$require as $name => $version">
                <li>
                    <a n:tag-if="!$_helpers->isPhp($name)" data-ga="1" data-event="click" data-category="requirements" data-action="{$name}" href="{$addon->composer->linker->getPackageUrl($name)}">
                        {$name}
                    </a>
                    ({$version})
                </li>
            </ul>
        </div>
    {/if}
    {if ($keywords = $composer->get('keywords', []))}
        <div class="requirements">
            <div class="title">Keywords</div>
            <a n:foreach="$keywords as $name" data-ga="1" data-event="click" data-category="keywords" data-action="{$name}" href="{$addon->composer->linker->getTagUrl($name)}">
                <span class="label label-default">{$name}</span>
            </a>
        </div>
    {/if}
{/if}
