{varType Nette\Utils\Html $content}
{varType array $attributes}
{varType array $classNames}
<div n:class="bg-white, rounded, shadow-md, 'z-10', relative, ...$classNames"
    n:attr="$attributes"
>
    {$content}
</div>
