includes:
	- front.neon

services:
	- implement: App\Modules\Front\Portal\Base\Controls\AddonList\IAddonListFactory
	  inject: true
	- App\Modules\Front\Portal\Base\Controls\AddonList\ICategorizedAddonListFactory
	- App\Modules\Front\Base\Controls\Status\IStatusFactory
	- App\Modules\Front\Portal\Addon\Controls\AddonDetail\IAddonDetailFactory
	- App\Modules\Front\Portal\Base\Controls\AddonModal\IAddonModalFactory
	- App\Modules\Front\Portal\Base\Controls\Search\ISearchFactory
	- App\Modules\Front\Portal\Base\Controls\SideMenu\ISideMenuFactory
	- App\Modules\Front\Base\Controls\Statistics\IStatisticsFactory
	- App\Modules\Front\Portal\Rss\Controls\RssFeed\RssFeedFactory
	- App\Modules\Front\Portal\Rss\Controls\RssFeed\IRssFeedFactory
	- App\Modules\Front\Generator\Controls\Sitemap\ISitemapFactory
	- App\Modules\Front\Portal\Base\Controls\Componetters\IComponettersFactory
	- App\Modules\Front\Portal\Base\Controls\ReleaseList\IReleaseListFactory
