services:
    console.application:
        class: App\Core\Console\Application
        setup:
            # Configuration
            - setName('Componette CLI')
            - setVersion('1.0')

            # Componette
            - add(@App\Model\Commands\Addons\Composer\CollectStatsCommand)
            - add(@App\Model\Commands\Addons\Content\GenerateContentCommand)
            - add(@App\Model\Commands\Addons\Bower\SynchronizeCommand)
            - add(@App\Model\Commands\Addons\Composer\SynchronizeCommand)
            - add(@App\Model\Commands\Addons\Github\SynchronizeCommand)
            - add(@App\Model\Commands\Addons\Github\SynchronizeFilesCommand)
            - add(@App\Model\Commands\Addons\Github\SynchronizeReleasesCommand)
            - add(@App\Model\Commands\Avatars\WarmupCacheCommand)

            # Nextras migration
            - add(@Nextras\Migrations\Bridges\SymfonyConsole\CreateCommand)
            - add(@Nextras\Migrations\Bridges\SymfonyConsole\ResetCommand)
            - add(@Nextras\Migrations\Bridges\SymfonyConsole\ContinueCommand)

    # Componette
    - App\Model\Commands\Addons\Composer\CollectStatsCommand
    - App\Model\Commands\Addons\Content\GenerateContentCommand
    - App\Model\Commands\Addons\Bower\SynchronizeCommand
    - App\Model\Commands\Addons\Composer\SynchronizeCommand
    - App\Model\Commands\Addons\Github\SynchronizeCommand
    - App\Model\Commands\Addons\Github\SynchronizeFilesCommand
    - App\Model\Commands\Addons\Github\SynchronizeReleasesCommand
    - App\Model\Commands\Avatars\WarmupCacheCommand
