services:
	# Filters ==============================================
	latte.templateFactory:
		class: App\Model\Templating\TemplateFactory
		inject: on

	latte.latteFactory:
		setup:
			# Common
			- addFilter('count', ['App\Model\Templating\Filters\Filters', 'count'])
			- addFilter('timeAgo', ['App\Model\Templating\Filters\Filters', 'timeAgo'])
			- addFilter('datetime', ['App\Model\Templating\Filters\Filters', 'datetime'])
			- addFilter('ucfirst', ['App\Model\Templating\Filters\Filters', 'ucfirst'])
			- addFilter('emojify', ['App\Model\Templating\Filters\Filters', 'emojify'])

latte:
	macros:
		- App\Model\Templating\Macros\Macros
