services:
    # Filters ==============================================
    latte.templateFactory:
        class: App\Core\Latte\TemplateFactory

    latte.latteFactory:
        setup:
            # Common
            - addFilter('count', ['App\Core\Latte\Filters\Filters', 'count'])
            - addFilter('timeDelta', ['App\Core\Latte\Filters\Filters', 'timeDelta'])
            - addFilter('timeAgo', ['App\Core\Latte\Filters\Filters', 'timeAgo'])
            - addFilter('datetime', ['App\Core\Latte\Filters\Filters', 'datetime'])
            - addFilter('shields', ['App\Core\Latte\Filters\Filters', 'shields'])
            - addFilter('ucfirst', ['App\Core\Latte\Filters\Filters', 'ucfirst'])

            # Composer
            - addFilter('isPhpDependency', ['App\Core\Latte\Filters\ComposerHelper', 'isPhpDependency'])

            # Parsedown / Markdown
            - addFilter('parsedown', [@latte.parsedown, 'process'])

    latte.parsedown: Minetro\Parsedown\ParsedownExtraAdapter
