services:

	# WebServices ==========================================

	# [github]
	- App\Model\WebServices\Github\GithubClient(token: %github.token%)
	- App\Model\WebServices\Github\GithubService

	# [composer]
	- App\Model\WebServices\Composer\ComposerClient
	- App\Model\WebServices\Composer\ComposerService

	# [bower]
	- App\Model\WebServices\Bower\BowerClient
	- App\Model\WebServices\Bower\BowerService

	# Search ===============================================
	- App\Model\Search\SearchFactory
	- {factory: @App\Model\Search\SearchFactory::create}

	# Facade ===============================================

	# [front-end]
	- App\Model\Facade\AddonFacade
	- App\Model\Facade\SearchFacade
	- App\Model\Facade\StatisticsFacade

	# [back-end]
	- App\Model\Facade\Admin\AddonFacade

	# [cli]
	- App\Model\Facade\Cli\Commands\AddonFacade

	# Cache ================================================
	- App\Core\Cache\CacheCleaner

	# Routing ==============================================
	- App\Model\Routing\Helpers\AddonsHelper
	- {class: App\Model\Routing\RouterFactory, inject: on}
	routing.router: @App\Model\Routing\RouterFactory::create

	# Portal ===============================================
	- App\Model\Portal(@container::parameters)
	- App\Model\Statistics

	# Security =============================================
	authenticator: App\Model\Security\SimpleAuthenticator(%security.users%)
