services:

    # Curl =================================================
    - App\Core\Http\Curl\Client

    # Github ===============================================
    - App\Model\WebServices\Github\GithubClient(token: %github.token%)
    - App\Model\WebServices\Github\GithubService

    # Composer =============================================
    - App\Model\WebServices\Composer\ComposerClient
    - App\Model\WebServices\Composer\ComposerService

    # Bower ================================================
    - App\Model\WebServices\Bower\BowerClient
    - App\Model\WebServices\Bower\BowerService

    # Search ===============================================
    - App\Model\Search\SearchFactory
    - {factory: @App\Model\Search\SearchFactory::create}

    # Cache ================================================
    - App\Core\Cache\CacheProvider

    # Model ================================================

    # [front-end]
    - App\Model\Facade\AddonFacade
    - App\Model\Facade\SearchFacade
    - App\Model\Facade\StatisticsFacade

    # [back-end]
    - App\Model\Facade\Admin\AddonFacade

    # [cli]
    - App\Model\Facade\Cli\Commands\AddonFacade

    # Images ===============================================
    - App\Model\WebImages\GithubImages(imageDir: %wwwDir%/imgs)
