services:

    # Routing ==============================================
    - App\Model\Routing\Helpers\PackagesHelper
    routing.routeFactory:
        class: App\Model\Routing\RouterFactory
        inject: on
    routing.router: @App\Model\Routing\RouterFactory::create

    # Portal ===============================================
    - App\Model\Portal(..., ..., @container::parameters)

    # Cache ================================================
    - App\Core\Cache\Cacher