services:

    # Routing ==============================================
    - App\Model\Routing\Helpers\AddonsHelper
    routing.routeFactory:
        class: App\Model\Routing\RouterFactory
        inject: on
    routing.router: @App\Model\Routing\RouterFactory::create

    # Portal ===============================================
    - App\Model\Portal(@container::parameters)
    - App\Model\Statistics

    # Security =============================================
    authenticator: App\Model\Security\SimpleAuthenticator(%security.users%)

    # Cache ================================================
    - App\Core\Cache\Cacher
