{block content}
<section class="container mx-auto">
    <h1 class="text-xl font-bold text-gray-800 lg:text-3xl font-headers" n:block=title>Access Denied</h1>

    <p class="mt-4 text-blue-600 text-lg">You do not have permission to view this page. Please try contact the web site administrator if you believe you should be able to view this page.</p>

    <p class="mt-4 text-blue-600 text-lg">
        <small>error 403</small>
    </p>
</section>
