{block content}
<section class="container mx-auto">
    <h1 class="text-xl font-bold text-gray-800 lg:text-3xl font-headers" n:block=title>Page not found</h1>

    <p class="mt-4 text-blue-600 text-lg">
        Oh no! We couldn't find the page you were looking for.
    </p>
</section>
