{block content}
<section class="container mx-auto">
    <h1 class="text-xl font-bold text-gray-800 lg:text-3xl font-headers" n:block=title>Page Not Found</h1>

    <p class="mt-4 text-blue-600 text-lg">The page you requested has been taken off the site. We apologize for the inconvenience.</p>

    <p class="mt-4 text-blue-600 text-lg">
        <small>error 410</small>
    </p>
</section>
