{block #title}All addons{/block}
{block #content}
    <div class="mb-4">
        {control heading, [content => 'All addons']}
    </div>
    {cache 'addons/all', expire => '+1 day'}
        {control categorizedAddons}
    {/cache}
{/block}
