extensions:
	nette.cache: Nette\Bridges\CacheDI\CacheExtension(%tempDir%)

	mango.databaseCreator: Mangoweb\Tester\DatabaseCreator\Bridges\NetteDI\DatabaseCreatorExtension
	mango.databaseCreatorInfrastructure: Mangoweb\Tester\DatabaseCreator\Bridges\Infrastructure\DatabaseCreatorInfrastructureExtension
	databaseCreatorDbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension

	mango.presenterTester: Mangoweb\Tester\PresenterTester\Bridges\Infrastructure\PresenterTesterExtension
	mango.httpMocks: Mangoweb\Tester\HttpMocks\Bridges\Infrastructure\HttpExtension

	transactional: Mangoweb\NextrasTransactional\TransactionalExtension

	nextras.orm: Nextras\Orm\Bridges\NetteDI\OrmExtension

mango.tester:
	require:
		- Nextras\Dbal\IConnection
	appContainer:
		configs:
			- %appDir%/config/config.neon
			- %appDir%/../tests/config/app.neon
			- %appDir%/config/config.local.neon

databaseCreatorDbal:
	driver: mysqli
	host: %database.host%
	database: app
	username: %database.user%
	password: %database.password%
	connectionTz: '+2:00'
	port: %database.port%
	autowired: false

mango.databaseCreator:
	driver: mysql
	dbal: Mangoweb\Tester\DatabaseCreator\Bridges\NextrasDbal\NextrasDbalAdapter(@databaseCreatorDbal.connection)
	migrations: Mangoweb\Tester\DatabaseCreator\Bridges\NextrasMigrations\NextrasMigrationsDriver
	strategy: continueOrReset
	databaseName:
		migrationHashSuffix: true

migrations:
	dir: %appDir%/../migrations
	driver: mysql
	dbal: nextras

services:
	migrations.dbal:
		arguments: [connection: @databaseCreatorDbal.connection]
	-
		class: Mangoweb\Tester\NextrasOrmEntityGenerator\EntityGenerator
		setup:
			- addFactory(ApptTests\Inc\AddonEntityFactory())

nextras.orm:
	model: App\Model\Database\ORM\EntityModel
