extensions:
	mango.presenterTester: Mangoweb\Tester\PresenterTester\Bridges\Infrastructure\PresenterTesterExtension
	mango.httpMocks: Mangoweb\Tester\HttpMocks\Bridges\Infrastructure\HttpExtension
mango.tester:
	appContainer:
		configs:
			- %appDir%/config/config.neon
			- %appDir%/config/config.local.neon
