{templateType Wavevision\PropsControl\PropsControlTemplate}
<h4 class="text-sm leading-5 font-semibold tracking-wider text-gray-600 uppercase">
    {$props->get(App\Modules\Front\Base\Controls\Layout\Footer\Heading\HeadingProps::TEXT)}
</h4>
