{if $addons->count()}
<div class="addons">
    <div class="b-addon" n:foreach="$addons as $addon">
        <div class="row">
            <div class="col-md-9">
                <article class="b-addon__article">
                    <section class="b-addon__image">
                        <a href="{plink Addon:detail, slug => $addon->id}">
                            <img alt="" title="{$addon->owner}" src="{plink WebImage:avatar, $addon->owner}">
                        </a>
                    </section>
                    <section class="b-addon__body">
                        <h3 class="b-addon__title">
                            <a href="{plink Addon:detail, slug => $addon->id}">
                            {$addon->owner}
                            /
                            {$addon->name}</a>
                        </h3>

                        <p>{$addon->github->description|truncate:150}</p>
                    </section>
                </article>
            </div>
            <div class="col-md-3">
                {control meta:short $addon}
            </div>
        </div>

    </div>
</div>
{else}
    <p class="alert alert-danger">No package found.</p>
{/if}
