{if count($list) > 0}
    {foreach $list as $category => $addons}
        <h2 class="text-xl px-4 py-2" id="toc-{$categories[$category]->name|lower}">
            <a href="{link this}#toc-{$categories[$category]->name|lower}">
                {$categories[$category]->name|ucfirst}
                ({=count($addons)})
            </a>
        </h2>
        {include list.latte, addons => $addons}
    {/foreach}
{else}
    <p class="text-xl text-gray-500 p-4">No package found.</p>
{/if}
