{if $addons->count()}
    <div class="addons">
        <div class="addon" n:foreach="$addons as $addon">
            <article class="addon__box">
                <section class="addon__image">
                    <a href="{plink Addon:detail, slug => $addon->id}">
                        <img alt="" title="{$addon->author}" src="{avatar $addon->author}">
                    </a>
                </section>
                <section class="addon__body">
                    <h3 class="addon__title">
                        <a href="{plink Addon:detail, slug => $addon->id}">
                            {$addon->author}
                            /
                            {$addon->name}</a>
                    </h3>

                    <p>{$addon->github->description|truncate:150}</p>
                </section>
                <section class="addon__meta">
                    {control meta:short $addon}
                </section>
            </article>
        </div>
    </div>
{else}
    <p class="alert alert-danger">No package found.</p>
{/if}
