<div class="readme">
    {var $content = $addon->github->content}

    {if $content}
        {$content|parsedown|noescape}
    {else}
        <p class="alert alert-warning">No content at this moment.</p>
    {/if}
</div>