<div class="readme">
    {var $content = $addon->github->content}

    {if $content}
        {cache $addon->id . '/content', expire => '+1 hour'}
            {$content|parsedown|noescape}
        {/cache}
    {else}
        <p class="alert alert-warning">No content at this moment.</p>
    {/if}
</div>
