{block}

{var $owner => $addon->owner}
{var $name => $addon->name}

<div class="title-repo">
    <a data-ga="1" data-event="click" data-category="sidebar" data-action="repo-title" data-toggle="tooltip" data-placement="bottom" title="{$name}" href="{$addon->github->linker->getRepoUrl()}">
        <span class="octicon octicon-mark-github"></span> {$name}
    </a>
</div>

<div class="title-owner">
    <a data-ga="1" data-event="click" data-category="sidebar" data-action="owner-title" data-toggle="tooltip" data-placement="left" title="Show all addons by {$owner}" href="{plink List:owner, slug => $owner}">
        <img alt="" title="{$owner}" src="{$addon->github->linker->getOwnerAvatarUrl(40)}"> {$owner}
    </a>
</div>

<div class="details">
    <table>
        {if $addon->isComposer && $addon->composer}
        <tr>
            <td><span class="octicon octicon-gift composer-clipboard" data-toggle="tooltip" data-placement="left" title="Click & copy" data-composer="composer require {$addon->github->composer->getName()}"></span></td>
            <td>{$addon->github->composer->getName()}</td>
        </tr>
        <tr>
            <td><span class="octicon octicon-cloud-download"></span></td>
            <td data-toggle="tooltip" data-placement="left" title="Total downloads">{$addon->composer->downloads|count}</td>
        </tr>
        {elseif $addon->isBower && $addon->bower}
        <tr>
            <td><span class="octicon octicon-cloud-download"></span></td>
            <td data-toggle="tooltip" data-placement="left" title="Total hits">{$addon->bower->downloads|count}</td>
        </tr>
        {/if}
        <tr>
            <td><span class="octicon octicon-star"></span></td>
            <td data-toggle="tooltip" data-placement="left" title="Total stargazers">{$addon->github->stars|count}</td>
        </tr>
        <tr>
            <td><span class="octicon octicon-issue-opened"></span></td>
            <td data-toggle="tooltip" data-placement="left" title="Open issues">{$addon->github->issues|count}</td>
        </tr>
        <tr>
            <td><span class="octicon octicon-clock"></span></td>
            <td data-toggle="tooltip" data-placement="left" title="Last activity">{$addon->github->pushedAt|timeAgo}</td>
        </tr>
    </table>
</div>

<div class="badges">
    <ul>
        <li>
            <img alt="" title="isitmaintained" src="https://isitmaintained.com/badge/resolution/{$owner|lower}/{$name|lower}.svg">
        </li>
        <li>
            <img alt="" title="isitmaintained" src="https://isitmaintained.com/badge/open/{$owner|lower}/{$name|lower}.svg">
        </li>
        {if $addon->isComposer && $addon->github->composer}
            <li>
                <a href="{$addon->github->composer->getPackageUrl()}"><img alt="" title="{$addon->github->composer->getName()}" src="https://img.shields.io/packagist/v/{$addon->github->composer->getName()}.svg"></a>
            </li>
            <li>
                <img alt="" title="{$addon->github->composer->getName()}" src="https://img.shields.io/packagist/l/{$addon->github->composer->getName()}.svg">
            </li>
        {/if}
    </ul>
</div>

{if $addon->isComposer && $addon->github->composer}
    {var $composer => $addon->github->composer}
    {if ($require = $composer->getRequire())}
        <div class="requirements">
            <div class="title">Requirements</div>

            <ul n:inner-foreach="$composer->getRequire() as $name => $version">
                <li><a data-ga="1" data-event="click" data-category="requirements" data-action="{$name}" href="{$addon->github->composer->getPackageUrl($name)}">{$name}</a> ({$version})</li>
            </ul>
        </div>
    {/if}
{/if}

<div class="tags" n:if="count($addon->tags) > 0">
    <div class="title">Tags</div>
    <span n:foreach="$addon->tags as $tag" class="label label-primary"><a href="{plink List:tag tag => $tag->name}">#{$tag->name}</a></span>
</div>
