<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{$baseUrl}/favicon.ico">
    <link rel="canonical" href="{plink this}">

    <!-- Title -->
    <title>Componette - Sign in</title>

    <!-- Seo -->
    <meta name="googlebot" content="snippet,archive">
    <meta name="robots" content="noindex, nofollow">
    <meta name="author" content="Nette Community">

    <!-- Styles -->
    <link rel="stylesheet" href="{$basePath}/dist/admin.external.css?v={rev}">
    <link rel="stylesheet" href="{$basePath}/dist/admin.bundle.css?v={rev}">
</head>
<body>
<div class="container">

    <!-- Content -->
    <div id="sign-in">
        <a class="logo" href="https://componette.com"><img loading="lazy" alt="@planette" src="https://avatars.githubusercontent.com/planette"></a>
        {control login}
    </div>
    <!-- /Content -->

    <!-- Scripts -->
    <script src="{$basePath}/dist/admin.external.js?v={rev}"></script>
    <script src="{$basePath}/dist/admin.bundle.js?v={rev}"></script>
    <!-- /Scripts -->
</div>
</body>
</html>
