{varType string $home}
{varType string $logo}
<div class="flex flex-wrap items-center mt-8 md:mt-0 md:order-1 mb-8 md:mb-0">
    <a href="{$home}" class="uppercase text-blue-800 inline-flex items-center mr-4 font-headers font-medium">
        <img alt="Componette" loading="lazy" src="{$logo}" class="h-8 w-8 mr-2"/>
        Componette
    </a>
    <p class="text-base leading-6 text-gray-400">
        Addons, plugins and components for Nette Framework.
    </p>
</div>
