{templateType Wavevision\PropsControl\PropsControlTemplate}
<div n:class="bg-white, rounded, shadow-md, 'z-10', relative, ...$props->get(App\Modules\Front\Portal\Base\Controls\Layout\Box\BoxProps::CLASS_NAMES)"
    n:attr="$props->get(App\Modules\Front\Portal\Base\Controls\Layout\Box\BoxProps::ATTRIBUTES)"
>
    {$props->get(App\Modules\Front\Portal\Base\Controls\Layout\Box\BoxProps::CONTENT)}
</div>
