{block}
<div class="title-repo">
    <ul>
        <li class="title-image">
            <a data-ga="1" data-event="click" data-category="header" data-action="repo-image" href="{plink List:owner, slug => $addon->owner}">
                <img alt="" title="{$addon->owner}" src="{avatar $addon->owner}">
            </a>
        </li>
        <li>

            <a data-ga="1" data-event="click" data-category="header" data-action="repo-owner" title="Show all addons by {$addon->owner}" href="{plink List:owner, slug => $addon->owner}">
                {$addon->owner}
            </a>
        </li>
        <li>/</li>
        <li>

            <a data-ga="1" data-event="click" data-category="header" data-action="repo-name" title="See {$addon->name} Github profile" href="{$addon->github->linker->getRepoUrl()}">
                {$addon->name}
            </a>
        </li>
        <li class="title-tags">
            <span n:foreach="$addon->tags as $tag" class="label label-success"><a href="{plink List:tag tag => $tag->name}">#{$tag->name}</a></span>

        </li>
    </ul>
</div>

<div class="title-code title-composer hidden-sm hidden-xs" n:if="$addon->isComposer && $addon->composer">
    <span class="composer-clipboard octicon octicon octicon-desktop-download" data-toggle="tooltip" data-placement="left" title="Click & copy" data-composer="composer require {$addon->github->composer->getName()}"></span>
    <span class="composer-code">composer require {$addon->github->composer->getName()}</span>
</div>

<div class="title-code title-bower hidden-sm hidden-xs" n:if="$addon->isBower && $addon->bower">
    <span class="composer-clipboard octicon octicon octicon-desktop-download" data-toggle="tooltip" data-placement="left" title="Click & copy" data-composer="bower install {$addon->bower->name}"></span>
    <span class="composer-code">bower install {$addon->bower->name}</span>
</div>

<div class="clearfix"></div>
