{block}
    <!-- Time:{=number_format((microtime(TRUE) - Tracy\Debugger::$time) * 1000, 1, '.', ' ')} ms -->
    <!-- Memory:{=function_exists('memory_get_peak_usage') ? number_format(memory_get_peak_usage() / 1000000, 2, '.', ' ') : 'n/a'} MB -->
{/block}
